# dotenv & environment files
!.env.example
.env
.autoenv*.zsh
**/.env
.env.*
**/*.envrc

# Airflow Configuration
airflow.cfg
airflow_login.py
dbinit.py
initdb.py
secrets.py
airflow.db
airflow/git_version
airflow/www/static/coverage/
airflow/www/*.log
logs/
airflow-webserver.pid
standalone_admin_password.txt
warnings.txt
warn-summary-*.txt
airflow-*.err
airflow-*.out
airflow-*.log
airflow-*.pid
.airflow_db_initialised

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage*.xml
*,cover
.hypothesis/
.pytest_cache

# Translations
*.mo
*.pot

# Django / Flask specific
local_settings.py
instance/
.webassets-cache
/webserver_config.py

# Scrapy specific
.scrapy

# Sphinx documentation
docs/_build/
docs/rtd-deprecation/_build/
docs/_doctrees/
docs/_inventory_cache/
docs/*/_api/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv / Node / Webpack stuff
.python-version
.nvmrc
node_modules/
npm-debug.log*
derby.log
.vscode/*
!.vscode/extensions.json
/.vite/
.pnpm-store

# Celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Virtualenv directories
.venv*
venv*
ENV/
fdp-venv/

# IDE configurations
.idea/
*.iml
.vscode/

# vim / Emacs / OSX
*.swp
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.DS_Store

# SQL Server backups
*.bkp

# Spark
rat-results.txt

# Git-related files
*.generated
*.tar.gz
scripts/ci/kubernetes/kube/.generated/airflow.yaml
scripts/ci/kubernetes/docker/requirements.txt

# Docker context files
/docker-context-files/*
!/docker-context-files/.README.md

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
**/*.tfvars
.terraform.lock.hcl

# Provider-related ignores
/airflow/providers/__init__.py

# Pytest cache
.pytest_cache/

# LocalStack provider directories
/target-airflow
/provider_packages/
.images
/tests/executors/dask-worker-space/
airflow-build-dockerfile*
/data
*.pyc
/volume

# Memray-generated files
*.py.*.html
*.py.*.bin

# Temporary build files
.build
/tmp
/files
/hive_scratch_dir/
/.bash_aliases
/.bash_history
/.kube
/.inputrc
log.txt*

# CI-specific files
/dev/packages.txt
/dev/Dockerfile.pmc

# UI licenses
3rd-party-licenses/LICENSES-ui.txt
licenses/LICENSES-ui.txt
/breeze.exe
/out

/s3_data
